AA380-LojaWeb/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preco" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
  <xs:complexType name="ArrayOfNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscal" nillable="true" type="tns:ArrayOfNotaFiscal" />
  <xs:complexType name="NotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataNota" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Produtos" nillable="true" type="tns:ArrayOfProduto" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
</xs:schema>