AA380-LojaWeb/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63521/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63521/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63521/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SaveProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveNota_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNota" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveNota_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNotaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateNota_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNota" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateNota_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNotaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProdutos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNotas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotas" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNotas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotasResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SaveProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveProduto" message="tns:IService1_SaveProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveProdutoResponse" message="tns:IService1_SaveProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateProduto" message="tns:IService1_UpdateProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateProdutoResponse" message="tns:IService1_UpdateProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNota">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveNota" message="tns:IService1_SaveNota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveNotaResponse" message="tns:IService1_SaveNota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNota">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateNota" message="tns:IService1_UpdateNota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateNotaResponse" message="tns:IService1_UpdateNota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteProduto" message="tns:IService1_DeleteProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteProdutoResponse" message="tns:IService1_DeleteProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProdutos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProdutos" message="tns:IService1_GetProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProdutosResponse" message="tns:IService1_GetProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNotas" message="tns:IService1_GetNotas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNotasResponse" message="tns:IService1_GetNotas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNota">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveNota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNota">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateNota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdutos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotas">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:63521/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>