AA380-LojaWeb/Connected Services/LojaWebService/WebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63521/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" />
  <xs:element name="SaveOrUpdateProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="product" nillable="true" type="q1:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrUpdateProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOrUpdateProdutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrUpdateNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="nota" nillable="true" type="q2:NotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrUpdateNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOrUpdateNotaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProdutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="GetProdutoByIDResult" nillable="true" type="q3:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutoByNameDESc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutoByNameDEScResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="GetProdutoByNameDEScResult" nillable="true" type="q4:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="GetProdutosResult" nillable="true" type="q5:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="GetNotasResult" nillable="true" type="q6:ArrayOfNotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGridProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="produto" nillable="true" type="q7:Produto" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="notaFiscal" nillable="true" type="q8:NotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGridProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="AddGridProductResult" nillable="true" type="q9:NotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="notaFiscal" nillable="true" type="q10:NotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="RemoveProductResult" nillable="true" type="q11:NotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Loja_Web_services.Entidade.Entidade" minOccurs="0" name="notaFiscal" nillable="true" type="q12:NotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumPriceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>